*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color : rgb(124, 29, 124);
    --main-color-hover: rgb(144, 86, 144);
    --secondary-color: #7c7c1d;
}
body{
    height: 100vh;
}

.bg-main-color{
    background-color: var(--main-color) !important;
}

.bg-color{
    color: var(--main-color) !important;
}

.mylink{
    text-decoration: none;

}

.mylink:hover{
    text-decoration: underline;
}

.mybutton:hover{
    background-color: var(--main-color-hover) !important;
}

.title-wrapper {
  display: inline-block;
  position: relative;
}

.title-wrapper h1 {
  cursor: pointer;
  margin: 0;
}

.title-wrapper h1 a{
    color: var(--main-color);
    text-decoration: none;
}

.title-wrapper h1 a:hover {
    color: var(--main-color-hover) !important;
}

.title-wrapper hr {
  position: absolute;
  bottom: -20px; /* تحتي النص */
  left: 0;
  width: 35px; /* الابتدائي */
  border: 3px solid var(--secondary-color);
  transition: width 0.3s;
  opacity: 1;
  border-radius: 5px;
}

.title-wrapper h1:hover + hr {
  width: 100%; /* يتوسع بنفس عرض الـ wrapper */
}

.active{
    background-color: white;
    border-radius: 5px;
    color: var(--main-color);
}

.options{
    cursor: pointer;
    display: flex !important;
    align-items: center !important;
}

a.signin:hover{
    color: var(--main-color-hover) !important;
}

.link{
    cursor: pointer !important;
}

.link:hover{
    background-color: rgb(241, 241, 241) !important;
}


.right{
    height: 100vh;
}

.forgetlink{
    text-decoration: none;
    font-weight: 100;
    color: var(--main-color);
}

.forgetlink:hover{
    text-decoration: underline;
}

.form-control:valid {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

/* #togglePassword{
    position: fixed;
} */

/* إلغاء علامة الصح الخضراء واللون الأخضر تماماً في صفحة الدخول */
.was-validated .form-control:valid {
    border-color: #dee2e6 !important; /* لون البرواز الطبيعي */
    background-image: none !important; /* إخفاء علامة الصح */
}

.was-validated .form-control:valid:focus {
    border-color: #86b7fe !important; /* لون الفوكس الطبيعي */
    box-shadow: none !important;
}

/* الـ wrapper بتاع الباسورد */
/* .password-wrapper {
    display: block;
    width: 100%;
} */

/* تنسيق العين */
.password-eye-icon {
    position: absolute;
    right: 15px;
    top: 19px; /* توسيط بالنسبة للأب */
    transform: translateY(-50%); /* ضبط التوسيط */
    cursor: pointer;
    z-index: 10; /* عشان تفضل فوق الـ input */
    color: #6c757d;
    font-size: 1.1rem;
    line-height: 1; /* بيمنع أي مساحات زيادة */
}

/* لما يظهر الايرور، البوتستراب بيضيف علامة تعجب جوه الـ input */
/* بنحرك العين شوية عشان ميتغطوش على بعض */
.was-validated .form-control:invalid {
    padding-right: 2.5rem !important; 
}

/* .modal .invalid-feedback {
  display: block;
} */


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
